@font-face {
    font-family: 'OG Renaissance Secret';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/OGRenaissanceSecret/OGRenaissanceSecret.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/OGRenaissanceSecret/OGRenaissanceSecret.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/OGRenaissanceSecret/OGRenaissanceSecret.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/OGRenaissanceSecret/OGRenaissanceSecret.ttf') format('truetype');
}
